/* give your assignment a fun background color */
body {
    background-color: peachpuff;
}
header {
    background-color:sandybrown;
}
footer {
    background-color:sandybrown;
    }
img {
    width: 100%;
    height: auto;
    /* border: 20px solild black; */
    /* margin-left: auto;
    margin-right: auto; */
}